:root {
  --red200: #fcedef;
  --red300: #fd7f92;
  --red500: #fd4455;

  --blue200: #f0f3ff;
  --blue300: #91a7ff;
  --blue500: #335dff;

  --black200: #dde1eb;
  --black300: #52596e;
  --black500: #030f4b;

  --gray300: #bfc1c9;
  --gray500: #4a4e63;

  --white: #fcfcff;
}
