@import "./colors.scss";
@import "./effects.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: calc(100vw / 1920 * 10);
  @media screen and (max-width: 600px) {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button:disabled:hover {
  cursor: not-allowed;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
}
