.container {
  padding: 2.4rem 0;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: var(--shadow);
}

.content {
  display: flex;
  align-items: center;
  gap: 17.7rem;

  max-width: 128rem;
  margin: 0 auto;

  .logo {
    width: 20.3rem;
    height: 4rem;
  }

  .navContainer {
    .listOfItems {
      display: flex;
      gap: 4rem;
      align-items: center;
      .item {
        transition: color 0.3s;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: var(--gray300);

        &:hover {
          color: var(--black500);
        }
        a {
        }
      }
    }
  }

  .actionButtons {
    display: flex;
    align-items: center;
    gap: 4rem;
    .login {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: var(--black500);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
